/* css Reset */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* css variable */
:root{
    --navbar-height: 50px;
}
/* Navigation bar */
 #navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;

    
}  
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}
/* Navigation bar logo and imag */
#logo{
    margin: 10px 30px;
}
#logo img{
height: 20px;
margin: 5px 5px;
}

/* Navigation bar list styling */


#navbar ul{
    display: flex;
    font-family: 'Benne', serif; 
}

#navbar ul li{
    list-style: none;
    font-size: 0.2rem;
}
#navbar ul li a {
        color: white;
        padding: 0px 25px;
        display: block;
        text-decoration: none;
        border-radius: px;
        font-size: 16px;
}
   
#navbar ul li a:hover {
    color:black;
    background-color:white;
    border-radius: 20px;
}
#home{
    display: flex;
    height:  656px;
    flex-direction: column;
    padding: 16px 200px;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    
}
#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../images/nick-karvounis-YmyFBvW7oG8-unsplash.jpg') no-repeat center center/cover;
   z-index: -1;
   opacity: .90;
}
#home h1{
    color: whitesmoke;
    text-align: center;
    font-family: 'Benne', serif;
    
}
#home p{
    color: white;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    /* height: 346px; */
}
/* services section */  

#services{
     margin: 2px;
     display: flex;
     
 }
#services .box{
    border: 2px solid blanchedalmond;
    padding: 50px;
    margin: 2px 2px;
    border-radius: 30px;
    background-color: saddlebrown;
    /* margin: -40px 2px; */
}
#services .box img{
     height: 120px;
     display: block;
     margin: auto;
    }
#services .box p{
    font-family: 'Benne', serif;
        
}
    
/* clients section */
#client-section{
    position: relative;
}

#client-section::before{
        content: "";
        position: absolute;
        background:url('../images/background.jpg');
        height: 100%;
        width: 100%;
        opacity: 0.4;
        z-index: -1;
    }
#clients{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
.client-item{
        padding: 35px;
    }
#clients img{
      height: 130px;
      z-index: -1;
    }

/*contact section*/

#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    background: url('../images/contact.png') no-repeat center center/cover;
}

#contact-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 34px; 
    
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
#contact-box form{
    width: 50%;
}
#contact-box label{
    font-size: 1.5rem;
    font-family: 'Benne', serif;

}
footer{
    background: black;
    color: white;
    padding: 5px;
} 



/* utility class */ 
.h-primary{
    font-size:  4rem;
    padding: 12px;
    font-family: 'Benne', serif;
    
}
.h-secondary{
    font-size: 1.5rem;
    padding: 12px;
    font-family: 'Benne', serif;
}
.btn{
    padding: 2px 20px;
    border: 2px solid red;
    background-color:gray;
    color: white;
    margin: 14px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
  
}
.center{
    text-align: center;
}


